{{link-to "Back to list of companies" "orgs"}}

<h4>
  <a target="_blank" href="{{model.repos_url}}"> {{model.name}}</a>
</h4>
<img srcset="{{model.avatar_url}}" width="50" />

<span {{action "addToRecords" "Two"}}>Add me</span>

<ul>
  {{#each records as |record|}}
    <li>
      {{record.id}}
    </li>
  {{/each}}
</ul>

{{outlet}}
